@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap'); /* GARAMOND */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap'); /* OXYGEN */

body{
    font-family: 'Oxygen', sans-serif;
}

/* HEADER */
.header{
    width: 100%;
    height: 100vh;
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.info-header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.nav ul{
    display: none;
}
.menu{
    cursor: pointer;
}
.title{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: 4rem;
}
.title h1{
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #38535C;
    font-size: 5.9rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
}
.title p{
    margin: 0;
    text-transform: uppercase;
    color: #38535C;
    font-size: 1.5rem;
}
hr{
    margin-top: 1.5rem;
    height: 5px;
    width: 100px;
    background-color: #38535C;
    border: none;
}
.down{
    align-self: center;
    padding-bottom: 2rem;
    cursor: pointer;
}

/* LATEST PRODUCTS */

.products{
    width: 100%;
    height: 100vh;
    background-color: #E2E8EA;
}
.latest-p{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 80vh;
    grid-template-areas: ". title ."
                         "card1 card2 card3";
    justify-items: center;
    align-items: center;
}

.latest-p .title-products{
    grid-area: title;
    text-align: center;
    text-transform: uppercase;
    color: #38535C;
    align-self: end;
}
.latest-p .title-products h2{
    font-weight: 400;
}
.card{
    margin-top: 5rem;
    background-color: #F7FDFF;
    width: 20rem;
    height: 26.25rem;
    box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
}
.card:hover{
    width: 20.5rem;
    height: 26.75rem;
    box-shadow: 0px 20px 30px 8px rgba(0, 0, 0, 0.4);
}
.card div{
    padding-bottom: 4rem;
}
.card div hr{
    background-color: #74939D;
    width: 50px;
}

.card img{
    width: 100%;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}

/* ABOUT */
.about{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "img text";
    background-color: #F7FDFF;
}
.about-image{
    grid-area: img;
}
.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-text{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.about-text h2{
    margin: 0;
    text-transform: uppercase;
    color: #38535C;
    font-weight: 400;
}
.about-text hr{
    color: #38535C;
    width: 50px;
}
.about-text p{
    font-family: 'Oxygen', sans-serif;
    margin: 2rem 10rem;
    align-self: center;
    text-align: justify;
    font-size: 1.2rem;
}

/* SUBSCRIBE*/

.subscribe-f{
    height: 100vh;
    background-color: #AEC2C9;
    display: grid;
    grid-template-rows: 80vh 20vh;
    grid-template-columns: 100%;
    grid-template-areas: "subscribe"
                         "footer";
}
.sub{
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub h2{
    margin: 0;
    text-transform: uppercase;
    color: #38535C;
    font-weight: 400;
    font-size: 1.5rem;
}
.sub p{
    margin: 0.6rem 0 1.7rem 0;
    color: #38535C;
    font-weight: 400;
    font-size: 1.12rem;
}
.sub .email{
    background-color: #E2E8EA;
    border: none;
    width: 31.25rem;
    height: 3.75rem;
    padding: 0 1.313rem;
    margin-bottom: 1.7rem;
}
.sub .email::placeholder{
    color: rgba(56, 83, 92, 0.72);
    letter-spacing: 0.1rem;
}
.sub .button{
    background: none;
    width: 8.5rem;
    height: 3.75rem;
    border: 2px solid #38535C;
    color: #38535C;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    font-size: 18px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.sub .button:hover{
    background-color: #38535C;
    color: #fff;
    width: 9.5rem;
}

.foot{
    grid-area: footer;
    background-color: #D6E1E5;
}
.foot .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-lyst{
    display: flex;
    list-style: none;
    align-items: center;
}
.social-lyst li{
    background-color: #D6E1E5;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 2.18rem;
    transition: all 0.1s ease-in-out;
}
.social-lyst li:hover{
    background-color: #38535C;
}
.social-lyst li:hover a{
    color: #D6E1E5;
}
.social-lyst li a{
    color: #38535C;
    transition: all 0.1s ease-in-out;
}
.social-lyst li a i{
    font-size: 2rem;
    margin: 0.25rem 0.25rem;
}
.foot-lyst{
    display: flex;
    list-style: none;
    align-items: center;
}
.foot-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #38535C;
    transition: all .3s;
}
.foot-link:hover::after{
    width: 100%;
    transition: all .3s;
}
.foot-lyst li{
    margin-left: 2.18rem;
}
.foot-lyst li a{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #38535C;
}


/* RESPONSIVE */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .about .about-text p{
        margin: 2rem 4rem;
    }
    .products .container{
        width: 100%;
        margin: 0 auto;
    }
    .card{
        width: 18rem;
        height: 24.25rem;
    }
    .card:hover{
        width: 18.5rem;
        height: 24.75rem;
    }
}


@media (min-width: 800px) and (max-width: 991.97px) {
    /* header */
    .down{
        display: none;
    }
    .info-header .title{
        margin: auto 0;
    }
    /* products */
    .products .container{
        width: 100%;
    }
    .products{
        height: auto;
        padding-bottom: 5rem;
    }
    .latest-p{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10rem 1fr 1fr;
        grid-template-areas: "title title"
                            "card1 card2"
                            "card3 card3";
    }
    /* about */
    .about-text p{
        margin: 2rem 4rem;
    }
}

@media (min-width: 575.98px) and (max-width: 800px){
    /* header */
    .down{
        display: none;
    }
    .info-header .title{
        margin: auto 0;
    }
    /* products */
    .products .container{
        width: 95%;
    }
    .products{
        height: auto;
        padding-bottom: 5rem;
    }
    .latest-p{
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 1fr 1fr 1fr;
        grid-template-areas: "title"
                            "card1" 
                            "card2"
                            "card3";
    }
    /* about */
    .about{
        height: auto;
        /* grid-template-rows: 30% 70%;
        grid-template-columns: auto;
        grid-template-areas: "img"
                             "text"; */
        display: flex;
        flex-direction: column;
    }
    .about-image img{
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
    .about-text{
        margin: 2rem 2rem;
    }
    .about-text p{
        margin: 2rem 0;
    }
    /* footer */
    .subscribe-f{
        height: auto;
    }
    .foot .container{
        flex-direction: column;
        justify-content: center;
    }
    .social-lyst{
        padding: 0;
        justify-content: center;
        gap: 2.18rem;
    }
    .social-lyst li{
        margin: 0;
    }
    .foot-lyst{
        padding: 0;
        gap: 2rem;
    }
    .foot-lyst li{
        margin-left: 0;
    }
 }

@media (max-width: 575.98px){
    .container{
        width: 96%;
    }
    /* header */
    .down{
        display: none;
    }
    .info-header .title{
        margin: auto 0;
    }
    .title h1{
        font-size: 4.9rem;
    }
    /* products */
    .products .container{
        width: 95%;
    }
    .products{
        height: auto;
        padding-bottom: 5rem;
    }
    .latest-p{
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 1fr 1fr 1fr;
        grid-template-areas: "title"
                            "card1" 
                            "card2"
                            "card3";
    }
    /* about */
    .about{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .about-image img{
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    .about-text{
        margin: 2rem 1rem;
    }
    .about-text p{
        margin: 2rem 0;
    }
    /* footer */
    .subscribe-f{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .sub{
        margin: 5rem 1rem;
    }
    .sub .email{
        width: 15.25rem;
        height: 3.75rem;
    }

    .foot .container{
        flex-direction: column;
        justify-content: center;
    }
    .social-lyst{
        padding: 0;
        justify-content: center;
        gap: 2.18rem;
    }
    .social-lyst li{
        margin: 0;
    }
    .foot-lyst{
        padding: 0;
        gap: 2rem;
        flex-direction: column;
    }
    .foot-lyst li{
        margin-left: 0;
    }
}